body{

       background-color:mediumpurple;






}

header{
       background-color: blueviolet;
       text-align: center;
       margin: 0px auto;
       max-width: 800px;



}

main{


    background-color: darkturquoise;
    text-align: center;
    margin: 0px auto;
    max-width: 800px;




}